:root {
  --white: #fff;
  --dark: #212121;
  --primary: #ffc107;
  --secondary: #0097a7;
  --gray: #757575;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Krub", sans-serif;
  font-size: 1.6rem;
}

.titulo {
  text-align: center;
  font-size: 3.8rem;
}

.titulo span {
  font-size: 2rem;
}
