:root {
  --white: #fff;
  --dark: #212121;
  --primary: #ffc107;
  --secondary: #0097a7;
  --gray: #757575;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Krub", sans-serif;
  font-size: 1.6rem;
}

.title {
  text-align: center;
  font-size: 3.8rem;
}

.title span {
  font-size: 2rem;
}

/* utility */

.container {
  width: 120rem;
  margin: 0 auto;
}

.main-nav-bg {
  background-color: var(--secondary);
}

/* main nav styles */

.main-nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.main-nav a {
  text-decoration: none;
  color: var(--white);
}
